body {
    background-color: black;
}

.navbar-togle {
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.navbar-togle a {
    text-decoration: none;
    color: rgb(185, 182, 175);
}

.image-brand {
    border-radius: 100%;
}